env
dataset/data
.idea/
dataset/__pycache__/
model/__pycache__/
model/result/
model/sample_output/
model/runs/
runs/
model/.ipynb_checkpoints/
model/__pycache__/*
result
ipy_notebook/.ipynb_checkpoints/*
ipy_notebook/pr_curve.npy
ipy_notebook/precision_pts.npy
model/eval
model/homography_result